/*
:root[theme="dark"] {
  background-color: rgb(13, 17, 23);
  --theme-btn-color: white;
  --paragraph-color: rgb(214, 214, 214);
  --header-color: white;
  --img-bright: brightness(0.75);
  --img-theme: invert(100%);
  --a-color: white;
  --a-color-hover: rgb(181, 181, 181);
  --a-decoration-color: grey;
}

:root[theme="light"] {
  background-color: white;
  --theme-btn-color: rgb(13, 17, 23);
  --paragraph-color: rgb(85, 85, 85);
  --header-color: black;
  --img-bright: brightness(1);
  --img-theme: invert(0%);
  --a-color: black;
  --a-color-hover: grey;
  --a-decoration-color: rgb(181, 181, 181);
}
*/

:root {
  --color0: #0b0c10;
  --color1: #0d1117;
  --color2: #1f2833;
  --color3: #45a29e;
  --color5: #66fcf1;
  --color4: #c5c6c7;
  --color6: #fff;
  /* specific variables */
  --navigation-color: #191717;
  --img-theme: invert(100%);
  --header-color: var(--color6);
}

body {
  background: linear-gradient(
    20deg,
    var(--color1),
    var(--color2),
    var(--color3)
  );
  background-size: 400% 400%;
  animation: waves 15s ease infinite;
  height: 100vh;
}

p {
  color: var(--color4);
}

a {
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

h1,
h2,
h3 {
  color: var(--header-color);
  margin: 0;
}

/* KEYFRAMES */
@keyframes waves {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NAVBAR */
.navbar-container {
  background-color: var(--navigation-color);
  padding: 1vh 2vw;
}

/* FOOTER */
.footer-container {
  text-align: center;
  background-color: var(--navigation-color);
  padding: 1vh 2vw;
}

.icon {
  cursor: default;
  padding: 0vw 0.5vw;
  color: var(--color6);
  height: 1.5rem;
  width: 1.5rem;
}

.fas {
  filter: var(--img-theme);
}

.contact-info-banner,
.contact-info-banner > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0vh 1vw;
}

.contact-info-banner::before,
.contact-info-banner::after {
  content: "";
  position: relative;
  background-color: var(--color2);
  height: 40px;
  width: 4px;
}

/* HOME */
.home-container {
  height: 100vh;
}

/* PROJECTS */
.projects-page {
  text-align: center;
}

.project-container {
  display: grid;
}

.project-box {
  border: var(--color3) 0.2rem solid;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

.project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0vh 1vw;
}
